body{
    background: linear-gradient(salmon, rgb(230, 136, 150));
    // background: linear-gradient(174deg, #fa8072, #d87267, #e68896);
    // background-size: 600% 600%;

    // -webkit-animation: AnimationName 8s ease infinite;
    // -moz-animation: AnimationName 8s ease infinite;
    // animation: AnimationName 8s ease infinite;

    // @-webkit-keyframes AnimationName {
    //     0%{background-position:52% 0%}
    //     50%{background-position:49% 100%}
    //     100%{background-position:52% 0%}
    // }
    // @-moz-keyframes AnimationName {
    //     0%{background-position:52% 0%}
    //     50%{background-position:49% 100%}
    //     100%{background-position:52% 0%}
    // }
    // @keyframes AnimationName {
    //     0%{background-position:52% 0%}
    //     50%{background-position:49% 100%}
    //     100%{background-position:52% 0%}
    // }
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

h1, h2, h3, h4{
    color: white;
    margin: 0;
    text-align: center;
}

h1, h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h1{
    font-size: 70px;
}

h2, h3 {
    font-family: 'nunito', sans-serif;
    font-weight: 100;

}

h2{
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 40px;
}

header{
    height: 100vh;
}

.headerLogo{
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.start{
    margin-top: 20px;
}

header img{
    width: 100%;
}

header h1{
    margin-top: 40px;
}

.question{
    margin-top: 40px;
}

.hide{
    display:none;
}

.question h2{
    padding-top: 140px;
    width: 60%;
    margin: 0 auto;
}

// .quest__wrapper{
//     border: 1px solid;
// }

.quiz__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submit__container{
    margin: 0 auto;
}

.resultsImage img{
    width: 100%;
}

.resultsImage{
    height: 550px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}

button, input{
    background: none;
    padding: 15px 30px;
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    transition: 0.5s all ease;
}

button:hover{
    background: rgba(184, 76, 76, 0.5);
    margin-bottom: 10px;
    padding: 12px;
    box-shadow:
    0 0 30px 15px rgba(116, 69, 69, 0.5),
    0 0 50px 30px rgba(184, 76, 76, 0.5),
    0 0 70px 45px rgba(224, 92, 92, 0.5);
}

.quest__button{
    margin-top: 30px;
    margin-bottom: 30px;
}

.active{
    height: 100vh;
    display: block;
}

